RewriteEngine On

# `*`이 포함된 URL을 통계 페이지로 리디렉션
RewriteRule ^([a-zA-Z0-9]{6})\*$ url_statistics.php?short_code=$1 [L]

# 기본 리디렉션 설정 (6자리 알파벳/숫자 조합)
RewriteRule ^([a-zA-Z0-9]{6})$ redirect.php?code=$1 [L]
